force-app/main/default/flows/create_Followup_Task_Pending_case_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>SDT-28101-updated to include RSI task.</description>
    <formulas>
        <name>NextDueDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE( {!$Record.Next_Task_Due_Date_Time__c} )</expression>
    </formulas>
    <formulas>
        <description>decides the owner value based on duedate</description>
        <name>ownerIdvalue</name>
        <dataType>String</dataType>
        <expression>IF(NOW() &lt;={!$Record.Next_Task_Due_Date_Time__c}, {!$User.Id},{!$Record.OwnerId} )</expression>
    </formulas>
    <formulas>
        <description>formula to populate task attempt</description>
        <name>varTaskAttempt</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Attempt__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>create Followup Task Pending case Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Followup Task Pending Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FollowUp_Task_Pending_Information_case</name>
        <label>Create FollowUp Task Pending Information case</label>
        <locationX>661</locationX>
        <locationY>462</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>NextDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attempt__c</field>
            <value>
                <elementReference>varTaskAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>$Record.Next_Task_Due_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Reasons__c</field>
            <value>
                <elementReference>$Record.Follow_Up_Reasons__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Agent_ID__c</field>
            <value>
                <elementReference>$Record.Last_Agent_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Genesys_integration_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Team_Name__c</field>
            <value>
                <elementReference>$Record.Task_Team_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Team_Queue__c</field>
            <value>
                <elementReference>$Record.Task_Team_Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Genesys_integration_user</name>
        <label>Get Genesys integration user</label>
        <locationX>350</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_FollowUp_Task_Pending_Information_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Genesys</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Genesys_integration_user</targetReference>
        </connector>
       <filterLogic>2 AND 3 AND (1 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Information Not Obtained</stringValue>
            </value>
        </filters>
        <filters>
            <field>Outcome__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Follow up</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolve Service Issue</stringValue>
            </value>
        </filters>
       
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
